extends layout 
block content
    each post in result
        div(class="post")
            a(href=`/posts/${post.postId}`)
                h1 #{post.pseudo}
                h3 #{post.content}
                h5 #{post.date}